body {
    background-color: #17141d;
    text-align: center;
    box-sizing: border-box;
}

.nav-item {
    font-family: "Montserrat";
    font-size: 1.3rem;
    font-weight: 650;
    margin-left: 10%;
    text-transform: uppercase;
    font-weight: bold;
    cursor: pointer;
}

.nav-link:hover {
    color: #0c2b17;
}

.gfg-nie-img {
    margin: 0 1%;
    border-radius: 50%; 
    width: 5%;
}

/* NIE GFG Student Chapter in the Nav Bar */
.center-heading {
    display: inline-block;
    margin-left: 5%;
    margin-bottom: 1%;
    padding: 5px 10px;
    font-family: "Ubuntu", sans-serif;
    font-weight: bold;
    font-size: 2.5vw;
    color: #06A761;
    text-align: center;
}

.center-heading:hover {
    color: #18361e;
}
